### Data clean on Usage file for SQL

In [1]:
import pandas as pd
from path import Path

In [59]:
file_path = Path("../Resources/all_usage.csv")
file_path2 = Path("../Resources/2013-2020_advance_data.csv")
all_usage_df = pd.read_csv(file_path)
slug_df = pd.read_csv(file_path2)
all_usage_df.head()

,Unnamed: 0,Unnamed: 0.1,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,...,%TOV,%STL,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,link
0,0,0,2013-14,63.0,848.0,9.9,10.7,9.8,3.4,4.3,...,12.0,20.9,33.3,10.0,27.1,12.4,9.8,203112,Quincy Acy,https://stats.nba.com/player/203112/
1,1,1,2014-15,68.0,1287.0,15.1,16.9,15.2,9.0,10.5,...,14.4,12.4,18.6,10.3,26.5,22.6,16.8,203112,Quincy Acy,https://stats.nba.com/player/203112/
2,2,2,2015-16,59.0,876.0,12.8,16.7,13.5,13.3,11.8,...,8.5,16.3,28.9,6.5,28.1,20.6,16.8,203112,Quincy Acy,https://stats.nba.com/player/203112/
3,3,3,2016-17,38.0,558.0,16.5,17.1,17.7,29.1,24.9,...,11.4,15.4,32.6,10.0,25.8,22.8,18.4,203112,Quincy Acy,https://stats.nba.com/player/203112/
4,4,4,2017-18,70.0,1359.0,14.3,12.3,15.3,25.6,26.5,...,13.8,19.4,23.8,9.5,24.5,14.7,13.7,203112,Quincy Acy,https://stats.nba.com/player/203112/

In [60]:
len(all_usage_df)

7485

In [61]:
#dropping first two columns
all_usage_df.drop(all_usage_df.columns[0:2], axis=1, inplace=True)

In [62]:
all_usage_df.drop(all_usage_df.columns[23], axis=1, inplace=True)

In [66]:
all_usage_df.sort_values(by=['season','player'], ascending=True, inplace=True)

In [68]:
no_dups = all_usage_df.drop_duplicates()

In [69]:
len(no_dups)

3265

In [73]:
no_dups[no_dups.player=='LeBron James']

,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,...,%AST,%TOV,%STL,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player
3500,2013-14,77.0,2902.0,30.3,32.8,29.7,22.3,21.8,39.2,39.6,...,34.8,30.4,23.0,10.3,24.6,10.8,36.1,33.1,2544,LeBron James
3501,2014-15,69.0,2493.0,31.8,30.9,30.4,22.5,24.2,37.9,40.6,...,43.5,37.4,27.2,21.9,22.9,14.9,37.2,31.3,2544,LeBron James
3502,2015-16,76.0,2709.0,30.5,32.7,29.9,14.1,17.0,37.3,37.9,...,38.6,33.5,26.7,22.4,28.8,13.2,34.5,31.5,2544,LeBron James
3503,2016-17,74.0,2795.0,29.2,30.6,27.2,15.8,16.9,35.5,38.7,...,45.7,38.9,23.1,19.3,25.9,13.4,36.0,29.6,2544,LeBron James
3504,2017-18,82.0,3026.0,31.0,33.1,29.6,18.6,19.4,34.1,36.6,...,49.5,40.6,26.0,28.9,24.8,11.8,34.3,31.7,2544,LeBron James
3505,2018-19,55.0,1937.0,31.1,31.6,30.5,27.8,27.1,40.3,41.8,...,43.2,32.0,23.7,14.6,25.2,12.0,35.6,32.6,2544,LeBron James
3506,2019-20,49.0,1707.0,30.6,29.7,30.2,25.2,26.8,32.1,33.8,...,54.5,36.3,21.5,8.5,35.0,11.6,31.6,29.6,2544,LeBron James

In [5]:
slug_df.head()

,Unnamed: 0,slug,name,positions,age,team,games_played,minutes_played,player_efficiency_rating,true_shooting_percentage,...,usage_percentage,offensive_win_shares,defensive_win_shares,win_shares,win_shares_per_48_minutes,offensive_box_plus_minus,defensive_box_plus_minus,box_plus_minus,value_over_replacement_player,year
0,0,acyqu01,Quincy Acy,[<Position.POWER_FORWARD: 'POWER FORWARD'>],22,Team.TORONTO_RAPTORS,29,342,15.9,0.632,...,14.7,0.7,0.4,1.1,0.157,-0.6,1.3,0.7,0.2,2013
1,1,adrieje01,Jeff Adrien,[<Position.POWER_FORWARD: 'POWER FORWARD'>],26,Team.CHARLOTTE_BOBCATS,52,713,13.4,0.493,...,15.6,0.5,0.4,1.0,0.064,-3.0,-0.2,-3.3,-0.2,2013
2,2,afflaar01,Arron Afflalo,[<Position.SMALL_FORWARD: 'SMALL FORWARD'>],27,Team.ORLANDO_MAGIC,64,2307,13.0,0.527,...,22.5,1.5,0.5,2.0,0.042,-0.3,-2.0,-2.3,-0.2,2013
3,3,akognjo01,Josh Akognon,[<Position.POINT_GUARD: 'POINT GUARD'>],26,Team.DALLAS_MAVERICKS,3,9,15.3,0.625,...,20.3,0.0,0.0,0.0,0.196,4.7,-4.9,-0.2,0.0,2013
4,4,aldrico01,Cole Aldrich,[<Position.CENTER: 'CENTER'>],24,Team.HOUSTON_ROCKETS,30,213,7.3,0.532,...,12.5,-0.1,0.3,0.2,0.038,-5.7,1.0,-4.8,-0.1,2013

In [8]:
slug_df = slug_df[["slug", "name"]].copy()
slug_df = slug_df.drop_duplicates()

In [26]:
slug_df.rename(columns={'Player':'player'}, inplace=True)

In [27]:
slug_df.head()

        slug         player
0    acyqu01     Quincy Acy
1  adrieje01    Jeff Adrien
2  afflaar01  Arron Afflalo
3  akognjo01   Josh Akognon
4  aldrico01   Cole Aldrich

In [29]:
all_usage_df_slug = pd.merge(all_usage_df, slug_df, on='player', how='left' )

In [30]:
all_usage_df_slug

,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,...,%TOV,%STL,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,slug
0,2013-14,63.0,848.0,9.9,10.7,9.8,3.4,4.3,9.0,10.3,...,12.0,20.9,33.3,10.0,27.1,12.4,9.8,203112,Quincy Acy,acyqu01
1,2014-15,68.0,1287.0,15.1,16.9,15.2,9.0,10.5,20.9,20.6,...,14.4,12.4,18.6,10.3,26.5,22.6,16.8,203112,Quincy Acy,acyqu01
2,2015-16,59.0,876.0,12.8,16.7,13.5,13.3,11.8,19.2,18.3,...,8.5,16.3,28.9,6.5,28.1,20.6,16.8,203112,Quincy Acy,acyqu01
3,2016-17,38.0,558.0,16.5,17.1,17.7,29.1,24.9,17.2,18.6,...,11.4,15.4,32.6,10.0,25.8,22.8,18.4,203112,Quincy Acy,acyqu01
4,2017-18,70.0,1359.0,14.3,12.3,15.3,25.6,26.5,10.3,10.0,...,13.8,19.4,23.8,9.5,24.5,14.7,13.7,203112,Quincy Acy,acyqu01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7580,2019-20,54.0,966.0,16.6,21.1,15.8,0.0,0.3,23.2,26.0,...,16.3,6.6,47.4,32.9,29.4,20.0,19.1,1627826,Ivica Zubac,zubaciv01
7581,2016-17,38.0,609.0,20.1,24.8,21.4,0.0,1.0,13.4,16.3,...,17.2,13.5,51.6,34.3,27.4,21.4,21.1,1627826,Ivica Zubac,zubaciv01
7582,2017-18,43.0,410.0,17.2,18.9,16.3,0.0,0.4,30.7,30.2,...,19.1,13.3,34.9,24.0,30.1,26.9,18.5,1627826,Ivica Zubac,zubaciv01
7583,2018-19,59.0,1039.0,19.9,23.7,20.0,0.0,0.0,25.6,24.0,...,20.1,8.9,49.0,36.4,29.3,23.3,21.8,1627826,Ivica Zubac,zubaciv01
7584,2019-20,54.0,966.0,16.6,21.1,15.8,0.0,0.3,23.2,26.0,...,16.3,6.6,47.4,32.9,29.4,20.0,19.1,1627826,Ivica Zubac,zubaciv01

In [32]:
name_all_formats = pd.read_csv('../Resources/name_all_formats.csv')
name_all_formats.head()

   Unnamed: 0           name       slug  year Team Lineup_name
0           0    Jeff Adrien  adrieje01  2012  HOU   J. Adrien
1           1  Arron Afflalo  afflaar01  2012  DEN  A. Afflalo
2           2   Blake Ahearn  ahearbl01  2012  UTA   B. Ahearn
3           3  Solomon Alabi  alabiso01  2012  TOR    S. Alabi
4           4   Cole Aldrich  aldrico01  2012  OKC  C. Aldrich

In [85]:
usage_encoder = name_all_formats[['name', 'slug']].copy()
usage_encoder.columns = ['player','slug']
usage_encoder.drop_duplicates(inplace=True)
# usage_encoder.year=usage_encoder.year.astype('str')
usage_encoder.head()

          player       slug
0    Jeff Adrien  adrieje01
1  Arron Afflalo  afflaar01
2   Blake Ahearn  ahearbl01
3  Solomon Alabi  alabiso01
4   Cole Aldrich  aldrico01

In [83]:
usage_encoder.dtypes

player    object
slug      object
dtype: object

In [76]:
usage_df = no_dups.copy()

In [77]:
usage_df.season = usage_df.season.astype('str')
usage_df['year']='20' +usage_df.season.str[-2:]
print(len(usage_df))

3265

In [ ]:
usage_df

In [106]:
usage_df.sort_values(by=['year', 'player'])

,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,...,%TOV,%STL,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,year
3437,2001-02,9.0,144.0,13.9,14.4,15.7,25.0,31.3,3.6,5.3,...,14.8,18.5,0.0,11.1,15.3,0.0,13.4,1114,Jaren Jackson,2002
2821,2002-03,10.0,126.0,19.9,17.3,21.7,57.9,56.4,3.4,4.9,...,34.4,36.0,0.0,0.0,14.0,0.0,17.2,896,Tim Hardaway,2003
6691,2003-04,68.0,1022.0,18.7,20.3,19.3,0.0,2.6,21.1,21.9,...,18.9,9.2,16.8,35.3,26.2,0.0,19.6,718,Gary Trent,2004
5784,2003-04,18.0,261.0,16.3,12.2,17.8,26.3,36.4,14.2,12.2,...,13.7,17.1,0.0,7.7,16.3,0.0,13.2,779,Glen Rice,2004
5865,2004-05,9.0,158.0,26.4,30.9,28.9,11.8,13.0,33.3,29.5,...,14.3,18.2,13.0,31.8,26.4,0.0,30.3,299,Glenn Robinson,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4099,2019-20,54.0,1861.0,30.9,31.1,31.4,34.9,32.0,37.2,35.2,...,29.8,20.5,17.6,34.2,14.5,28.7,32.5,203897,Zach LaVine,2020
6293,2019-20,7.0,32.0,16.5,11.1,18.6,0.0,16.7,13.3,18.2,...,12.5,50.0,0.0,50.0,25.0,10.5,10.8,1629015,Zhaire Smith,2020
7291,2019-20,8.0,215.0,27.6,30.0,26.0,7.5,6.0,41.7,48.1,...,28.4,15.0,13.6,36.8,19.2,40.0,29.3,1629627,Zion Williamson,2020
1279,2019-20,3.0,31.0,11.4,11.8,10.4,0.0,5.9,0.0,0.0,...,20.0,0.0,50.0,0.0,35.7,0.0,8.5,1629597,Zylan Cheatham,2020
7236,1996-97,13.0,200.0,19.0,21.2,22.0,31.0,37.4,11.0,10.2,...,15.4,22.2,17.4,15.4,26.8,0.9,19.7,199,Reggie Williams,2097

In [110]:
usage_df['number'] = usage_df.index

In [111]:
usage_wth_slugs = pd.merge(usage_df,usage_encoder, on = ['player'], how='left')
print(len(usage_wth_slugs))
usage_wth_slugs.sample(10)

3275

,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,...,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,year,number,slug
98,2012-13,46.0,919.0,14.0,13.1,15.8,37.6,35.8,8.9,9.3,...,6.8,7.1,20.5,14.0,14.5,200789,Daniel Gibson,2013,2512,gibsoda01
2830,2018-19,77.0,1356.0,16.6,16.9,16.4,11.9,13.5,20.0,21.3,...,50.8,20.1,30.3,21.9,16.8,1628380,Zach Collins,2019,1440,colliza01
1313,2015-16,79.0,1413.0,16.6,15.8,16.5,27.5,28.4,11.3,9.2,...,11.3,11.9,20.4,10.6,16.1,1626209,Mario Hezonja,2016,3077,hezonma01
2897,2019-20,52.0,975.0,21.1,24.4,20.6,17.3,16.3,32.5,33.2,...,41.3,16.3,18.6,35.3,25.1,1626174,Christian Wood,2020,7338,woodch01
71,2011-12,5.0,17.0,14.6,28.6,19.2,0.0,0.0,0.0,0.0,...,0.0,0.0,20.0,11.1,24.2,202385,Ryan Reid,2012,5776,reidry01
2117,2017-18,6.0,38.0,11.5,11.5,8.7,0.0,4.3,37.5,40.0,...,0.0,20.0,21.4,21.4,14.5,1627762,Joel Bolomboy,2018,749,bolomjo01
1873,2016-17,40.0,788.0,26.2,25.3,26.8,27.8,26.9,29.1,27.7,...,10.7,32.1,19.9,26.1,26.1,201936,Tyreke Evans,2017,2155,evansty01
1706,2016-17,72.0,1020.0,11.8,11.4,12.1,8.3,8.7,12.3,12.4,...,20.5,13.0,16.9,13.9,11.3,203937,Kyle Anderson,2017,212,anderky01
2818,2018-19,36.0,1147.0,27.8,25.1,28.3,31.8,36.2,28.5,28.6,...,8.9,36.0,17.4,27.5,26.1,203506,Victor Oladipo,2019,5289,oladivi01
2506,2018-19,42.0,1250.0,17.7,15.1,16.9,12.6,14.1,12.9,12.8,...,12.1,30.1,16.6,14.6,14.6,203901,Elfrid Payton,2019,5478,paytoel01

In [113]:
#10 rows added after merge, manually correctly all ten by index number duplicates
usage_wth_slugs.number.value_counts()[:12]

7365    2
3521    2
7351    2
3688    2
4856    2
4842    2
3687    2
3686    2
3507    2
3672    2
6698    1
2604    1
Name: number, dtype: int64

In [140]:
#deleting the incorrect merge on name matching two slug names, deleting the incorrect slug match
usage_wth_slugs_clean = usage_wth_slugs.copy()
usage_wth_slugs_clean = usage_wth_slugs_clean.drop(index=[1103, 551, 657, 220, 445, 89, 92, 2227, 227])
usage_wth_slugs_clean

,season,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,...,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,year,number,slug
0,1996-97,13.0,200.0,19.0,21.2,22.0,31.0,37.4,11.0,10.2,...,17.4,15.4,26.8,0.9,19.7,199,Reggie Williams,2097,7236,willire02
1,2001-02,9.0,144.0,13.9,14.4,15.7,25.0,31.3,3.6,5.3,...,0.0,11.1,15.3,0.0,13.4,1114,Jaren Jackson,2002,3437,jacksja02
2,2002-03,10.0,126.0,19.9,17.3,21.7,57.9,56.4,3.4,4.9,...,0.0,0.0,14.0,0.0,17.2,896,Tim Hardaway,2003,2821,hardati02
3,2003-04,68.0,1022.0,18.7,20.3,19.3,0.0,2.6,21.1,21.9,...,16.8,35.3,26.2,0.0,19.6,718,Gary Trent,2004,6691,trentga02
4,2003-04,18.0,261.0,16.3,12.2,17.8,26.3,36.4,14.2,12.2,...,0.0,7.7,16.3,0.0,13.2,779,Glen Rice,2004,5784,ricegl02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,2019-20,3.0,86.0,13.9,11.1,12.5,15.0,13.0,18.8,16.7,...,22.2,25.0,26.8,29.3,12.6,1628380,Zach Collins,2020,1435,colliza01
3271,2019-20,54.0,1861.0,30.9,31.1,31.4,34.9,32.0,37.2,35.2,...,17.6,34.2,14.5,28.7,32.5,203897,Zach LaVine,2020,4099,lavinza01
3272,2019-20,7.0,32.0,16.5,11.1,18.6,0.0,16.7,13.3,18.2,...,0.0,50.0,25.0,10.5,10.8,1629015,Zhaire Smith,2020,6293,smithzh01
3273,2019-20,8.0,215.0,27.6,30.0,26.0,7.5,6.0,41.7,48.1,...,13.6,36.8,19.2,40.0,29.3,1629627,Zion Williamson,2020,7291,willizi01
3274,2019-20,3.0,31.0,11.4,11.8,10.4,0.0,5.9,0.0,0.0,...,50.0,0.0,35.7,0.0,8.5,1629597,Zylan Cheatham,2020,1279,cheatzy01

In [103]:
after_merge_index = list(usage_wth_slugs.index)
print(len(after_merge_index))
before_merge_index = list(usage_df.index)
print(len(before_merge_index))

3275
3265

In [104]:
new_index = [value for value in after_merge_index if value not in before_merge_index]

In [105]:
len(new_index)

1732

In [193]:
#dropping the season column, not needed after creating season year column 
usage_wth_slugs_clean.drop(columns='season', inplace=True)

Index(['GP', 'MIN', 'USG%', '%FGM', '%FGA', '%3PM', '%3PA', '%FTM', '%FTA',
       '%OREB', '%DREB', '%REB', '%AST', '%TOV', '%STL', '%BLK', '%BLKA',
       '%PF', '%PFD', '%PTS', 'stats_id', 'player', 'year', 'number', 'slug'],
      dtype='object')

In [159]:
usage_wth_slugs_clean.dtypes

GP          float64
MIN         float64
USG%        float64
%FGM        float64
%FGA        float64
%3PM        float64
%3PA        float64
%FTM        float64
%FTA        float64
%OREB       float64
%DREB       float64
%REB        float64
%AST        float64
%TOV        float64
%STL        float64
%BLK        float64
%BLKA       float64
%PF         float64
%PFD        float64
%PTS        float64
stats_id      int64
player       object
year         object
number        int64
slug         object
dtype: object

In [182]:
#delete years greater than existing 2020 season
usage_wth_slugs_clean['year'] = pd.to_numeric(usage_wth_slugs_clean['year'])
indexYears = usage_wth_slugs_clean[usage_wth_slugs_clean['year']> 2020]
usage_wth_slugs_clean = usage_wth_slugs_clean.drop(usage_wth_slugs.index[0])

In [194]:
usage_wth_slugs_clean

,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,%FTA,%OREB,...,%BLK,%BLKA,%PF,%PFD,%PTS,stats_id,player,year,number,slug
1,9.0,144.0,13.9,14.4,15.7,25.0,31.3,3.6,5.3,3.6,...,0.0,11.1,15.3,0.0,13.4,1114,Jaren Jackson,2002,3437,jacksja02
2,10.0,126.0,19.9,17.3,21.7,57.9,56.4,3.4,4.9,2.7,...,0.0,0.0,14.0,0.0,17.2,896,Tim Hardaway,2003,2821,hardati02
3,68.0,1022.0,18.7,20.3,19.3,0.0,2.6,21.1,21.9,36.6,...,16.8,35.3,26.2,0.0,19.6,718,Gary Trent,2004,6691,trentga02
4,18.0,261.0,16.3,12.2,17.8,26.3,36.4,14.2,12.2,11.4,...,0.0,7.7,16.3,0.0,13.2,779,Glen Rice,2004,5784,ricegl02
5,9.0,158.0,26.4,30.9,28.9,11.8,13.0,33.3,29.5,9.3,...,13.0,31.8,26.4,0.0,30.3,299,Glenn Robinson,2005,5865,robingl02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,3.0,86.0,13.9,11.1,12.5,15.0,13.0,18.8,16.7,30.8,...,22.2,25.0,26.8,29.3,12.6,1628380,Zach Collins,2020,1435,colliza01
3271,54.0,1861.0,30.9,31.1,31.4,34.9,32.0,37.2,35.2,9.5,...,17.6,34.2,14.5,28.7,32.5,203897,Zach LaVine,2020,4099,lavinza01
3272,7.0,32.0,16.5,11.1,18.6,0.0,16.7,13.3,18.2,0.0,...,0.0,50.0,25.0,10.5,10.8,1629015,Zhaire Smith,2020,6293,smithzh01
3273,8.0,215.0,27.6,30.0,26.0,7.5,6.0,41.7,48.1,40.6,...,13.6,36.8,19.2,40.0,29.3,1629627,Zion Williamson,2020,7291,willizi01
3274,3.0,31.0,11.4,11.8,10.4,0.0,5.9,0.0,0.0,33.3,...,50.0,0.0,35.7,0.0,8.5,1629597,Zylan Cheatham,2020,1279,cheatzy01

In [195]:
usage_wth_slugs_clean.to_csv('../Resources/all_usage_clean.csv')